h2 {
  position: relative;
  top: 4vh;
  font-size: 48px;
  text-align: center;
  z-index: 0;
}

p {
  position: relative;
  bottom: 1vh;
  font-size: 20px;
  text-align: center;
}

fieldset {
  margin: 0 auto;
  min-width: 70%;
  max-width: 80%;
  text-align: left;
  padding: 2vw 4vw 2vw 2vw;
  background: #DDD;
}

label {
  font-size: 20px;
}

input, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 1vw 1vw;
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
}

select {
  background-color: white;
  width: 102.5%;
}

textarea {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  vertical-align: top;
  display: block;
  width: 102%;
  height: 10vw;
}

input[type=file] {
  width: auto;
  display: block;
  padding-bottom: 0;
  position: relative;
  right: 1vw;
}

input[type=submit] {
  width: 70%;
  font-size: 20px;
  border: 1px solid black;
  margin: 2vw auto;
  cursor: pointer;
  transition: .1s;
}

input[type=submit]:hover {
  background-color: #BBB;
}

.req {
  color: red;
}
