input {
  display: inline-block;
}

input[type=text] {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: .5vw .5vw;
  width: 60%;
  border: 2px solid black;
  border-radius: 5px;
}

.search-button {
  position: absolute;
  background: blue;
  height: 100%;
  width: 3%;
  border: 2px solid black;
  border-radius: 5px;
}

.search-bar {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.main-section {
  text-align: center;
}

.form-checks {
  columns: 2;
  padding: 0;
}

.form-checks li {
  width: 95%;
  float: left;
  padding: 0;
}

.choose-type {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.food-type {
  width: 20%;
}

.cook-time {
  width: 30%;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(10, 27vw);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  margin-top: 1%;
}

.recipe-item {
  grid-column: auto;
  border: 2px solid black;
}

.details {
  height: 50%;
}

.detail-values {
  margin: 1%;
}

img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-height: 45%;
}

h3 {
  margin: 0 auto;
  font-size: 24px;
  border-bottom: 2px solid black;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.no-image {
  border-bottom: None;
}
