<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Tracker</title>
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 class="title">Recipe Tracker</h1>
    <a class="add_link" href="add"><h2 class="item add">Add a Recipe</h2></a>
    <a class="search_link" href="search"><h2 class="item search">Search for Recipe</h2></a>
  </body>
</html>
